nav,
ul,
#banner,
.services {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding: 10px 100px 0px 100px;
    list-style: none;
}

.services {
    border-radius: 7px;
    padding: 40px;
    box-shadow: 1px 1px 7px gray;
}
* {
    color: #ffffff;
    /* Replace with your desired color */
}
button {
    color: black;
}
footer,
#offer {
    text-align: center;
}
#offer2 {
    text-align: center;
}
body {
    font-size: larger;
    font-family: Calibri;
    background: #252525;
    /* fallback for old browsers */
    /* background: -webkit-linear-gradient(to right,
            #ffffff,
            #6dd5fa,
            #2980b9); */
    /* Chrome 10-25, Safari 5.1-6 */
    /* background: linear-gradient(to right,
            #ffffff,
            #6dd5fa,
            #2980b9); */
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

main {
    padding: 0px 100px 10px 100px;
}

.card:hover>p {
    opacity: 1;
    transform: scale(1.5); 
    top:80% ;
}

img,
#parent {
    cursor: pointer;

}

.card:hover>img {
    opacity: 1;
    transform: scale(1.1);
}

.card header {
    position: absolute;
    top: 120%;
    left: 0%;
    padding: 1px;
    border-radius: 25px;
    width: 450px;
    height: 90px;
    transition: all .5s;
    opacity: 0;
}

.card:hover>header {

    opacity: 1;
    width: 350px;
    transform: translateY(-120px);
}

.card {
    transition: transform .7s;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 500px;
    margin: auto;
    text-align: center;
    font-family: arial;
    background: white;
    width: 250px;
    height: 250px;
}

.card:hover {

    transform: scale(1.08)
}

.centeri {
    /* position: fixed; */
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    /* transform: translate(10%, 10%); */
}

span {

    position: relative;
}

.container {
    max-width: 100%;
    width: 100%;
    margin: 0px;
}

.navbar {
    width: 100%;
    box-shadow: 1px 1px 7px gray;
    border-radius: 10px;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 62px;
    
}

.navbar .menu-items {
    display: flex;
    background: rgba(255, 255, 255,0.9);
    
}

.navbar .nav-container li {
    list-style: none;
    
}

.navbar .nav-container a {
    text-decoration: none;
    color: #000000;
    font-weight: 500;
    font-size: 1.2rem;
    padding: 0.7rem;
}

.navbar .nav-container a:hover {
    font-weight: bolder;
}

.nav-container {
    display: block;
    position: relative;
    height: 60px;
}

.nav-container .checkbox {
    position: absolute;
    display: block;
    height: 32px;
    width: 32px;
    top: 20px;
    left: 20px;
    z-index: 5;
    opacity: 0;
    cursor: pointer;
}

.nav-container .hamburger-lines {
    display: block;
    height: 26px;
    width: 32px;
    position: absolute;
    top: 17px;
    left: 20px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #fff;
}

.nav-container .hamburger-lines .line {
    display: block;
    height: 4px;
    width: 100%;
    border-radius: 10px;
    background: #ffffff;
}

.nav-container .hamburger-lines .line1 {
    transform-origin: 0% 0%;
    transition: transform 0.4s ease-in-out;
}

.nav-container .hamburger-lines .line2 {
    transition: transform 0.2s ease-in-out;
}

.nav-container .hamburger-lines .line3 {
    transform-origin: 0% 100%;
    transition: transform 0.4s ease-in-out;
}

.navbar .menu-items {
    padding-top: 120px;
    box-shadow: 1px 1px 7px gray;
    border-radius: 20px;
    height: 400px;
    width: 20%;
    transform: translate(-150%);
    display: flex;
    flex-direction: column;
    margin-left: -40px;
    transition: transform 0.5s ease-in-out;
    text-align: center;
}

.navbar .menu-items li {
    margin-bottom: 1.2rem;
    font-size: 1.5rem;
    font-weight: 500;
}

.user-fullname {
    position: relative;
    top: 20px;
    right: -70px;
}

.logo {
    position: absolute;
    top: -10px;
    right: 75px;
    font-size: 1.2rem;
    color: #ffffff;
}

.nav-container input[type="checkbox"]:checked~.menu-items {
    transform: translateX(0);
}

.nav-container input[type="checkbox"]:checked~.hamburger-lines .line1 {
    transform: rotate(45deg);
}

.nav-container input[type="checkbox"]:checked~.hamburger-lines .line2 {
    transform: scaleY(0);
}

.nav-container input[type="checkbox"]:checked~.hamburger-lines .line3 {
    transform: rotate(-45deg);
}

.nav-container input[type="checkbox"]:checked~.logo {
    display: none;
}





header a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}

header ul {
    padding: 0;
    list-style: none;
}

header li {
    display: inline;
    padding: 0 20px 0 20px;
}

header .highlight,
header .current a {
    color: #ffeb3b;
    font-weight: bold;
}

header a:hover {
    color: #ffeb3b;
}

#showcase {
    min-height: 100px;
    background: url('d:\book store\test\blue-wallpaper-11.jpg') no-repeat center center;
    background-size: cover;
    text-align: center;
    color: #181717;
}

#showcase h1 {
    margin-top: 40px;
    font-size: 45px;
    margin-bottom: 0px;
}

#showcase p {
    font-size: 18px;
}

#dashboard {
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: -50px;
}

.btn {
    display: inline-block;
    background: #0288d1;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    margin-top: 10px;
    border: none;
    cursor: pointer;
}

.btn:hover {
    background: #01579b;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

table,
th,
td {
    border: 1px solid #ddd;
}

th,
td {
    padding: 12px;
    text-align: left;
}

th {
    background-color: #0288d1;
    color: #fff;
}

.form-container {
    margin: 5% 20% 5% 20%;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-container div {
    margin-bottom: 10px;

}

.form-container label {
    display: inline-block;
    width: 100%;
}

.form-container input[type="text"],
.form-container input[type="number"],
.form-container input[type="file"],
.form-container textarea {
    width: calc(100% - 110px);
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form-container textarea {
    resize: vertical;
}



.background-container {
    padding: 20px;
    min-height: 100vh;
}

